<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} MSISDN API Search {% endblock %}</title>
    </head>
    <body>
        <center>
            <h1>MSISDN API</h1>
            {% block content %}
            <form action="/api/msisd/api-search/" method="GET">
                <input type="text" name="msisdn" required/>
                <input type="submit" />
            </form>
            {% endblock %}
        </center>
    </body>
    <footer>
        {% block footer %}
        {% endblock footer%}
    </footer>
</html>