<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %} MSISD API Search {% endblock %}</title>
  </head>
  <body>
    <center>
      <div class="body">
        {% block form %}
          <h1>MSISD API</h1>
          <h3>Search the database:</h3>
          <form action="/api/msisd/api-search/" method="GET">
            <input type="number" name="msisdn" required placeholder="Enter an MSISD number..."/>
            <input type="submit" />
            {% csrf_token %}
          </form>
        {% endblock %}
        {% block content %}
        {% endblock %}
      </div>
      <div class="error">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
    </center>
  </body>
  <footer>
    {% block footer %}
    {% endblock footer%}
  </footer>
</html>