{% extends "base.html" %}

{% block title %} Search Result {% endblock %}

{% block content %}
<p></p><br>
<h3>Search Result:</h3>
{% if object %}
<p>MSISD Number: {{ object.msisdn }}</p>
<p>Mobile Network Operator: {{ object.MNO }}</p>
<p>Subscriber Number: {{ object.subscriber_number }}</p>
<p>Country Identifier: {{ object.country_identifier }}</p>
<p>Country Code: {{ object.country_code }}</p>
{% endif %}
<p></p><br>
{% endblock content %}

{% block footer %}
<a href="http://localhost:8000/api/msisd/home/">Home</a>
{% endblock footer %}
