{% extends "base.html" %}

{% block title %} Search Result {% endblock %}

{% block content %}

<h3>Search the database:</h3>
<form action="/api/msisd/api-search/" method="POST">
    <input type="number" name="msisdn" required placeholder="Enter an MSISD number."/>
    <input type="submit" />
</form>
<p></p><br>
<h3>Search Result:</h3>
{% if object %}
<p><b>MSISD Number: {{ object.msisdn }}</b></p>
<p>Mobile Network Operator: {{ object.MNO }}</p>
<p>Subscriber Number: {{ object.subscriber_number }}</p>
<p>Country Identifier: {{ object.country_identifier }}</p>
<p>Country Code: {{ object.country_code }}</p>
{% else %}
<p>no comments exist</p>
{% endif %}

{% endblock content %}

{% if message %}
<p>{{ message }}</p>
<p></p>
<p></p>
{% endif %}

{% block footer %}
<a href="http://localhost:8000/api/msisd/home/">Home</a>
{% endblock footer %}
